{{define "search-form"}}
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a id="search-option-btn" role="button" data-toggle="collapse" data-parent="#accordion" href="#search-options" aria-expanded="true" aria-controls="search-options">
        <i class="fa fa-plus-square-o"></i> Search Options
        </a>
      </h4>
    </div>
    <div id="search-options" class="panel-collapse collapse {{if $.Fields.FormOpen }}in{{else}}out{{end}}" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
<form class="form-horizontal" role="form" method="GET">
  <div class="form-group">
    <label  class="col-sm-4 control-label">Gene</label>
    <div class="col-xs-4">
    <select id="gene" name="gene" class="selectpicker show-tick" title="">
        {{ range $g := .Genes }}
            <option{{if eq $g $.Fields.Gene }} selected="selected"{{end}} value="{{ $g }}">{{ $g }}</option>
        {{ end }}
    </select>
    </div>
  </div>
  <div class="form-group">
    <label  class="col-sm-4 control-label">Sample</label>
    <div class="col-xs-4">
    <select name="sample" class="selectpicker show-tick" multiple title="">
        {{ range $s := .Samples }}
        {{ $check := $.Fields.HasSample $s }}
            <option{{if $check }} selected="selected"{{end}} value="{{ $s }}">{{ $s }}</option>
        {{ end }}
    </select>
    </div>
  </div>
  <div class="form-group">
    <label  class="col-sm-4 control-label">Knock Down</label>
    <div class="col-xs-4">
    <select name="kd" class="selectpicker show-tick" multiple title="">
        {{ range $s := .KnockDowns }}
        {{ $check := $.Fields.HasKnockDown $s }}
            <option{{if $check }} selected="selected"{{end}} value="{{ $s }}">{{ $s }}</option>
        {{ end }}
    </select>
    </div>
  </div>
  <div class="form-group">
    <label  class="col-sm-4 control-label">Replicate</label>
    <div class="col-xs-4">
    <select name="rep" class="selectpicker show-tick" multiple title="">
        {{ range $s := .Replicates }}
        {{ $check := $.Fields.HasReplicate $s }}
            <option{{if $check }} selected="selected"{{end}} value="{{ $s }}">{{ $s }}</option>
        {{ end }}
    </select>
    </div>
  </div>
  <div class="form-group">
    <label  class="col-sm-4 control-label">ORF Type</label>
    <div class="col-xs-3">
    <select name="alt" class="selectpicker show-tick" title="">
        <option></option>
        {{ range $i, $a := .Template.AltRegion }}
            {{ $x := increment $i }}
            <option{{if eq $x $.Fields.AltRegion }} selected="selected"{{end}} value="{{ $x }}">A{{ $x }}</option>
        {{ end }}
    </select>
    </div>
  </div>
  <div class="form-group">
    <label  class="col-sm-4 control-label">Edit Stop Site</label>
    <div class="col-xs-2">
      <input name="edit_stop" class="form-control" size="4" type="text" value="{{if ne $.Fields.EditStop -2 }}{{ .Fields.EditStop }}{{end}}" placeholder="">
    </div>
  </div>
  <div class="form-group">
    <label  class="col-sm-4 control-label">Junction End</label>
    <div class="col-xs-2">
      <input name="junc_end" class="form-control" size="4" type="text" value="{{if ne $.Fields.JuncEnd -2 }}{{ .Fields.JuncEnd }}{{end}}" placeholder="">
    </div>
  </div>
  <div class="form-group">
    <label  class="col-sm-4 control-label">Junction Length</label>
    <div class="col-xs-2">
      <input name="junc_len" class="form-control" size="4" type="text" value="{{if ne $.Fields.JuncLen -2 }}{{ .Fields.JuncLen }}{{end}}" placeholder="">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-4 control-label">Filters</label>
     <div class="col-sm-4">
          <label class="checkbox-inline">
              <input name="has_mutation" value="1" type="checkbox"{{if $.Fields.HasMutation }} checked="checked"{{end}}> Mutations only
          </label>
          <label class="checkbox-inline">
              <input name="has_alt" value="1" type="checkbox"{{if $.Fields.HasAlt }} checked="checked"{{end}}> Alternate Editing only
          </label>
      </div>
  </div>
  <div class="form-group">
    <label class="col-sm-4 control-label">Tetracycline</label>
     <div class="col-sm-4">
          <label class="checkbox-inline">
              <input name="tet" value="1" type="checkbox"{{if eq $.Fields.Tetracycline "1" }} checked="checked"{{end}}> Tet+
          </label>
          <label class="checkbox-inline">
              <input name="tet" value="0" type="checkbox"{{if eq $.Fields.Tetracycline "0" }} checked="checked"{{end}}> Tet-
          </label>
      </div>
  </div>
  <div class="form-group">
    <label class="col-sm-4 control-label">Results per page</label>
    <div class="col-xs-3">
    <select name="limit" class="selectpicker show-tick" title="Limit..">
        {{ range $n := .Pages }}
        <option{{if eq $n $.Fields.Limit }} selected="selected"{{end}}>{{ $n }}</option>
        {{ end }}
    </select>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-4 col-xs-3">
      <input id="form-open" name="form_open" type="hidden" value="{{if $.Fields.FormOpen }}1{{else}}0{{end}}">
      <button id="search-btn" type="submit" class="btn btn-primary"><i id="search-spin" class="fa fa-refresh fa-spin"></i> Search</button>
    </div>
  </div>
</form>

      </div>
    </div>
  </div>
</div>



<script type="text/javascript">
$(function () {
    $('.selectpicker').selectpicker({
        size: 25
    });
    $("#search-spin").hide()
    $("#search-btn").click(function() { $("#search-spin").show(); });
    $('#gene').change(function() {
        window.location = "?gene=" + $(this).val();
    });
    $("#search-option-btn").click(function() { 
        var val =  $("#form-open").val();
        if(val == "1") {
            $("#form-open").val("0");
        } else {
            $("#form-open").val("1");
        }
    });
});
</script>
{{end}}
